.video-cards {
    width: 18rem;
    cursor: pointer;
    margin-bottom: -6rem;
    box-shadow: 0 0 8px var(--medium-blue-gray);
    margin-top: 4rem;
}
.video-cards:hover{
    background-color: #85828280;
}
/* .video-cards:nth-last-child(1) {
    margin-bottom: 2rem;
} */

.spacer{
    width: 100%;
    height: 5rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
}