@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

.side-tags {
    cursor: pointer !important;
}

.video-sidebar{
    background-color: var(--text-white);
    height: 41.25rem;
    box-shadow: 0 0 8px var(--medium-blue-gray);
}