.card-playlist {
    height: fit-content;
    width: 17rem;
}

.container-img-card-playlist {
    width: 17rem;
    height: 11rem;
    position: relative;
    box-shadow: 0 0 8px var(--medium-blue-gray);
    border: 2px solid var(--dropdown-background);
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin-top: 2.5rem;
}


.img-card-playlist {
    width: inherit;
    height: inherit;
}

.container-overlay-img-playlist-card {
    width: 6rem;
    height: 11rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #85828280;
}

.btn-view-playlist {
    color: #e2e0e2;
    margin-top: 1.5rem;
    margin-left: 0rem;
    cursor: pointer;
}

.btn-view-playlist:hover {
    color: var(--text-white);
}

.disable-link {
    pointer-events: none;
    cursor: default;
}

.container-btn-playlist-card {
    position: relative;
}

.btn-remove-playlist {
    position: absolute;
    top: 0;
    right: 0;
}

.title-playlist{
    color: var(--text-white);
    font-size: 1.5rem;
    margin-left: 0rem;
}