.card-playlist {
    height: fit-content;
    width: 17rem;
}

.container-img-card-playlist {
    width: 17rem;
    height: 11rem;
    position: relative;
}

.img-card-playlist {
    width: inherit;
    height: inherit;
}

.container-overlay-img-playlist-card {
    width: 6rem;
    height: 11rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #85828280
}

.btn-view-playlist {
    color: var(--text-color-dark);
}

.btn-view-playlist:hover {
    color: var(--text-color);
}

.disable-link {
    pointer-events: none;
    cursor: default;
}

.container-btn-playlist-card {
    position: relative;
}

.btn-remove-playlist {
    position: absolute;
    top: 0;
    right: 0;
}



.nav-button {
    display: flex;
    position: absolute;
    bottom: -1.5rem;
    left: 10rem;
}

.category {
    margin: 1rem;
}




.card-playlist {
    height: fit-content;
    width: 17rem;
}

.container-img-card-playlist {
    width: 17rem;
    height: 11rem;
    position: relative;
}

.img-card-playlist {
    width: inherit;
    height: inherit;
}

.container-overlay-img-playlist-card {
    width: 6rem;
    height: 11rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #85828280;
}

.btn-view-playlist {
    color: #e2e0e2;
}

.btn-view-playlist:hover {
    color: var(--text-white);
}

.disable-link {
    pointer-events: none;
    cursor: default;
}

.container-btn-playlist-card {
    position: relative;
}

.btn-remove-playlist {
    position: absolute;
    top: 0;
    right: 0;
}